.fonte1 {
    font-family: 'Pacifico', cursive;
}

.fonte2 {
    font-family: 'Slabo 27px', serif;
}

body {
    font-family: sans-serif;
    background-color: rgb(223, 192, 248);
}

header {
    background-image: url(banners/banner.png);
    width: 105.6%;
    margin-left: -5%;
    margin-top: -5%;
}


nav {
    margin-left: -5%;
    width: 105.6%;
    margin-top: -2%;
    min-height: 55pt;
    background-image: url(banners/mini3.png);
}

nav li {
    float: left;
    padding: 2%;
    list-style: none;
    font-size: 150%;
}

nav a {
    color: black;
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: rgb(238, 172, 72);
    transition: ease-in-out 0.1s;
}

main {
    background-color: rgb(223, 192, 248);
}

iframe {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
}

input[type="submit"] {
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}

td {
    border: solid 2pt rgb(57, 5, 87);
    background-color: aliceblue;
}

table {
    margin-top: 3%;
    margin-left: 32%;
    margin-bottom: 4%;
    background-color: rgb(57, 5, 87);
}

footer {
    float: left;
    background-color: rgb(57, 5, 87);
    margin-left: -5%;
    width: 105.6%;
}

footer ul {
    margin-left: 31.5%;
    margin-top: -1%;
    margin-bottom: -2%;
}

footer li {
    float: left;
    margin-left: 7.5%;
    list-style: none;
}

footer p {
    text-align: center;
}

#destaques, #text1, #raça,
#cuidar {
    text-align: center;
}

#cuidar li {
    font-size: 170%;
}

#destaques p {
    font-size: 260%;
    margin-bottom: -0.25%;
}

#destaques figure {
    float: left;
    margin-left: 7%;
    margin-bottom: 3.5%;
    height: 20%;
    width: 20%;
}

#destaques img {
    border: solid 4pt rgb(211, 95, 6);
    height: 125%;
    width: 125%;
}

#destaques figcaption {
    font-size: 120%;
    margin-left: 25%;
}

#formulario h1 {
    text-align: center;
}

#present {
    text-align: center;
    font-weight: bold;
    font-size: 190%;
    line-height: 50%;
}

#info {
    text-align: center;
    font-size: 170%;
    line-height: 50%;
}

nav li ul {
    position: absolute;
    display: none;
    width: 10%;
    height: 25%;
    padding: none;
    font-size: 65%;
    background-color: rgb(204,102,204);
    border: solid 3pt rgb(80, 19, 80);
}

nav li ul li {
    margin-left: -25%;
}

nav li:hover ul {
    display: grid;
}





    /*font-family: 'Slabo 27px', serifa;


/*
#infos {
    text-align: center

    ;}

#formulario{

    font-size: 120%;
    margin-left: 25%;


    float: left;
    margin-left: 7%;
    margin-bottom: 3.5%;
    height: 20%;
    width: 20%;

}



    #maps{
        display: block;
        margin-left: auto;
        margin-right: auto }
    #present{
        text-align: center;
    }
© 2022 GitHub, Inc.

    /*font-family: 'Slabo 27px', serifa;


/*
#infos {
    text-align: center

    ;}

#formulario{

    font-size: 120%;
    margin-left: 25%;


    float: left;
    margin-left: 7%;
    margin-bottom: 3.5%;
    height: 20%;
    width: 20%;

}



    #maps{
        display: block;
        margin-left: auto;
        margin-right: auto }
    #present{
        text-align: center;
    }

